.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;

}
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
 
}

.modal {
    text-align: center;
    background-color: $light-blue;
    color: #fff;
    max-width: 30rem;
    padding: $l-size;
    outline: none;
}

.modal__title {
    margin: 0 0 $m-size 0;
    
}

.modal__body {
    margin: 0 0 $l-size 0;
    font-size: 2.5rem;
    font-weight: 300;
    word-break: break-all;
}