*,
*::before,
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 1.6rem;
    background-color: $dark-blue;
}

html {
    font-size: 62.5%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}